select {
    appearance: none;
    background-color: var(--bg-secondary);
    background-position: right 6px center;
    background-repeat: no-repeat;
    color: var(--text-primary);
    padding: 7px 32px 7px 12px;
}

option {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}
