.reader {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.reader-body {
    --toc-width: 384px;
    display: flex;
    height:100%;
    overflow: hidden;
}

.reader-body .reader-error {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
}

.reader-content {
    flex-shrink: 0;
    height:100%;
    position: relative;
    width: 100%;
}

.reader-nav {
    align-items: center;
    border: none;
    bottom: 25%;
    color: var(--text-muted);
    cursor: pointer;
    display: flex;
    height: 50vh;
    opacity: 0.1;
    position: fixed;
    top: 25%;
    transition: left 0.2s, opacity 0.15s, right 0.2s;
    user-select: none;
}

.reader-nav:hover { opacity: 1; }
.reader-nav.prev {
    left: 0;
    padding: 0 16px 0 32px;
    z-index: 1;
}
.reader-nav.next {
    padding: 0 32px 0 16px;
    right: 0;
    z-index: 1;
}
.expand .reader-nav.prev {
    left: var(--toc-width);
}
.expand .reader-nav.next {
    right: calc(0px - var(--toc-width));
}

.reader-footer {
    align-items: center;
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    margin: 0 32px 32px;
}
